.navbar.navbar-default
  .container
    .navbar-header
      = link_to 'Storywriter2', root_url, class: "navbar-brand"
    - if logged_in?
      %ul.nav.navbar-nav
        %li= link_to "全ストーリー総覧", stories_path
        %li= link_to "ライター全覧", users_path
      %ul.nav.navbar-nav.navbar-right
        %li= link_to current_user.name, current_user
        %li= link_to "設定", edit_settings_path
        %li= link_to "ログアウト", sessions_path, method: :delete
    - else
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "ライター登録", new_registrations_path
        %li= link_to "ログイン", new_sessions_path
